.attractionDetailContainer {
    padding: 40px;
    background-color: var(--cream);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backButton {
    align-self: flex-start;
    margin-bottom: 20px;
    background-color: var(--aqua);
    border: none;
    color: var(--deep-teal);
}

.attractionDetailCard {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 32px;
    max-width: 700px;
    width: 100%;
}

.detailTitle {
    color: var(--teal);
    font-size: 32px;
    margin-bottom: 24px;
    text-align: center;
}

.detailField {
    font-size: 16px;
    margin-bottom: 12px;
    color: var(--deep-teal);
}

.oldPrice {
    text-decoration: line-through;
    color: red;
    margin-left: 10px;
}

.loading {
    text-align: center;
    font-size: 24px;
    padding-top: 100px;
    color: var(--deep-teal);
}

.locationLink {
    color: var(--teal);
    text-decoration: underline;
}

.locationLink:hover {
    color: var(--deep-teal);
}


.imageGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

.galleryImage {
    width: 180px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
